.container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.wrapper{
    width: min(40rem, calc(80% - 2rem));
    padding: 2rem;
    margin: 3rem 0;
    background-color: #D3D3D3;
    box-shadow: 5px 5px 15px 5px #d1d1d1;
    border: 1px solid #676766;
    border-radius: 5px;
}