.container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.wrapper{
    width: min(30rem, 60%);
    padding: 2rem;
    margin: 3rem 0;
    background-color: #D3D3D3;
    box-shadow: 2px 2px 15px 2px #d1d1d1;
    border: 1px solid #676766;
    border-radius: 5px;
}